# ==============================================
# Ticket Bot General Settings
# ==============================================

maxActiveTicketsPerUser: 1  # Maximum number of active tickets allowed per user
menuPlaceholder: 'Select a category to open a ticket.'  # Placeholder text displayed in the select menu for opening tickets
ticketActivityCheckInterval: 2880  # Interval in minutes for checking the activity of tickets

# Roles with access to ticket channels
supportRoles:
  - '111111111111111111'  # Support role ID 1, allows users with this role to access ticket channels
  - '111111111111111111'  # Support role ID 2, allows users with this role to access ticket channels

closeTicketStaffOnly: false  # If true, only staff members with specified roles can close tickets; otherwise, anyone can close tickets
enableTranscripts: true  # Enable or disable the creation and sending of transcripts for closed tickets
enableClaimButton: true  # Enable or disable the claim button that allows staff to claim tickets
enableTicketReason: true  # Enable or disable the requirement for providing a reason when closing a ticket
enableNotifyTicketCreator: true  # Enable or disable notifications to the ticket creator when their ticket is closed
enableTicketActivityCheck: true  # Enable or disable checking the activity of tickets to determine if they are still active

# ================================
# Log channels
# ================================

logChannelId: '111111111111111111'  # ID of the channel where general ticket logs (e.g., creation, closure) will be sent
transcriptLogsChannelId: '111111111111111111'  # ID of the channel where transcripts of tickets will be logged
ticketCategoryId: '111111111111111111'  # ID of the category under which new ticket channels will be created
ratingLogChannelId: '111111111111111111'  # ID of the channel where ticket ratings will be logged

# ================================
# Ticket Category Settings
# ================================
# Define different categories of tickets here.
# Each category should have a unique identifier.
# Note: The Discord limit is 25 select menu options, but it's not advisable to use that many.
# Each type consumes 2 categories, and Discord's maximum is 50. 
# Using too many types could exhaust your category options for regular Discord channels.

ticketCategories:
  # Category 1
  category1:
    menuLabel: 'Category 1'  # Label displayed in the select menu for this category
    menuDescription: 'This category is for general inquiries and questions.'  # Description explaining the purpose of this category in the menu
    menuEmoji: '😀'  # Emoji associated with this category (leave empty if none)
    embedDescription: 'Welcome to Category 1! Feel free to ask any general questions or make inquiries here.'  # Description shown in the embed for this category

  # Category 2
  category2:
    menuLabel: 'Category 2'  # Label displayed in the select menu for this category
    menuDescription: 'Use this category for technical support and troubleshooting.'  # Description explaining the purpose of this category in the menu
    menuEmoji: '🔧'  # Emoji associated with this category (leave empty if none)
    embedDescription: 'Welcome to Category 2! Need technical support or facing any issues? Ask here.'  # Description shown in the embed for this category

  # Category 3
  category3:
    menuLabel: 'Category 3'  # Label displayed in the select menu for this category
    menuDescription: 'For billing-related inquiries and payment issues.'  # Description explaining the purpose of this category in the menu
    menuEmoji: '💳'  # Emoji associated with this category (leave empty if none)
    embedDescription: 'Welcome to Category 3! Have any questions or issues regarding billing or payments? Let us know.'  # Description shown in the embed for this category

# ==============================================
# Embeds Locale
# ==============================================

embeds:
  # Panel Embed
  panelEmbed:
    color: "#0099FF"  # Color of the embed panel
    title: "AikouTicket"  # Title of the embed panel
    description: "To create a support ticket, please select one of the options below based on the assistance you require."  # Description shown in the embed panel
    timestamp: true  # Whether to include a timestamp in the embed
    URL: ""  # URL to be included in the embed (if any)
    image: "https://cdn.discordapp.com/attachments/1109764526552915988/1136666715078533303/image.png?ex=6647695f&is=664617df&hm=ec6a3e7de621daf0813e7a70c6ec7b2c9741bad8450172d356f85f28273610b2&"  # URL of the image to be displayed in the embed
    thumbnail: ""  # URL of the thumbnail to be displayed in the embed (if any)
    footer:
      text: "AikouTicket"  # Footer text for the embed
      iconURL: ""  # URL of the footer icon (if any)
    author:
      name: ""  # Author name for the embed
      iconURL: ""  # URL of the author icon (if any)
      url: ""  # URL associated with the author (if any)
